.grid-container{
	display:grid;
	grid-template-columns: repeat(9,1fr);
	grid-gap:10px 10px;
}
.grid-item{
	width:200px;
	height:150px;
	border-radius:5px;
	font-size:40px;
	background-color:lightgray;
	display:flex;
	justify-content:center;
	align-items:center;
}
